/* ************ Strona kontakt ***************************************** */
.contact_content {
  width: 50%;
  max-width: 45rem;
}
.contact_content h2 {
  margin: 1.5rem 0 1.5rem 0;
}
.contact_content h3 {
  margin: 0;
  font-size: 1.5rem;
}
.contact_content p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.1rem;
}
.contact_content div.adress {
  margin-bottom: 6rem;
}
.map {
  width: 100%;
}
.contact-form {
  width: 100%;
}
input,
textarea {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;
  background-color: #c5c9cf;
  border: none;
  display: block;
  box-sizing: border-box;
}
textarea {
  min-height: 10rem;
  resize: vertical;
}
::placeholder {
  color: white;
  opacity: 1;
}
.btn_big {
  width: 18rem;
  height: 4.2rem;
  border: none;
  font-size: 1.35rem;
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.errorText {
  color: red;
}
.errorInput {
  border-style: solid;
  border-color: red;
}
/* Modal */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-logo {
  /* float: left; */
  width: 5rem;
  /* margin: 3rem 0 0 3rem; */
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.contact-modal-content {
  width: 60%;
  margin: auto;
}
.contact-modal-content h3, .contact-modal-content h4 {
  margin: 3rem 0 3rem 0;
  font-size: 1.5rem;
}
